Makefile
Makefile.old
Build
Build.bat
META.*
MYMETA.*
MANIFEST.bak
.build/
_build/
cover_db/
blib/
inc/
.lwpcookies
.last_cover_stats
author-test.pl
nytprof.out
pod2htm*.tmp
pm_to_blib
*.tar.gz
*.zip
Net-Amazon-Glacier-*
Net-Amazon-Glacier-*.tar.gz
